<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <application
            android:label="@string/app_name"
            android:allowBackup="false"
            android:supportsRtl="true"
            android:theme="@style/Theme.TasksApp"
            android:name=".tasks.MainApplication"
    >
        <activity
                android:name="me.dvyy.tasks.MainActivity"
                android:windowSoftInputMode="adjustResize"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts"/>
        </activity>
        <activity
                android:name=".tasks.QuickAddActivity"
                android:theme="@style/Theme.QuickAdd"
                android:excludeFromRecents="true"
        >
        </activity>
        <service
                android:name=".tasks.CreateAndSyncTaskService"
                android:foregroundServiceType="dataSync"
                android:exported="false">
        </service>
    </application>
</manifest>
