.idea
.gradle
build
target
out
node_modules
*/out/production/
.kotlin
local.properties

.classpath
.project
.settings
eclipse
*.ipr
*.iws

**/*.AppDir/usr/
*.AppImage
*.DirIcon
releases
wix*

truckconfig.json

*.db

kotlin-js-store