<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.TasksApp"
            android:name=".MainApplication">
        <activity
                android:name=".MainActivity"
                android:windowSoftInputMode="adjustResize"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                    android:name="android.app.shortcuts"
                    android:resource="@xml/shortcuts" />
        </activity>
        <activity
                android:name=".QuickAddActivity"
                android:exported="true"
                android:theme="@style/Theme.QuickAdd"
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--    Koin WorkManager configuration https://insert-koin.io/docs/reference/koin-android/workmanager/#add-dependencies   -->
        <!--        <provider-->
        <!--                android:name="androidx.startup.InitializationProvider"-->
        <!--                android:authorities="${applicationId}.androidx-startup"-->
        <!--                android:exported="false"-->
        <!--                tools:node="merge">-->
        <!--            <meta-data-->
        <!--                    android:name="androidx.work.WorkManagerInitializer"-->
        <!--                    android:value="androidx.startup"-->
        <!--                    tools:node="remove" />-->
        <!--        </provider>-->
    </application>
</manifest>
